a {
    --hover-color: var(--primary-color);
    --link-text-color: var(--dark-color);
    --link-hover-color: var(--link-text-color);
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: unset;
    border-bottom: 0.25em inset var(--hover-color);
   
    &:not(.btn):hover{
        box-shadow:inset 0px 0px 0px 1em var(--hover-color);
        color: var(--link-hover-color);
    }
}

.social-media a, a.social-media{
    border: none;
    &:hover{
        box-shadow: none;
        color: var(--hover-color);
        transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
}